@model Ipt_Project_Website.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>



@using (Html.BeginForm("UserLogin","User",FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>User</h4>
    <hr />

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    @ViewBag.Message

    <button type="submit" class="btn btn-primary">Submit</button>

</div>
}

<div>
    <li>
        @Html.ActionLink("Want to find candidates? Signup as a Employer", "EmployerSignUp", "Employer")
    </li>
    <li>
        @Html.ActionLink("Already have a employer account? Login", "EmployerLogin", "Employer")
    </li>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
