@model Ipt_Project_Website.Models.Employer

@{
    ViewBag.Title = "EmployerLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employer Login</h2>

@using (Html.BeginForm("EmployerLogin", "Employer", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User</h4>
        <hr />

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>



        @ViewBag.Message
    </div>
}

<div>
    <li>
        @Html.ActionLink("Want to find jobs? Login as a User", "UserLogin", "User")
    </li>
    <li>
        @Html.ActionLink("Already have a user account? Login", "UserSignUp", "User")
    </li>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
